html, body{
    height: 300px;
    width: 400px;
    margin: 0;
    padding: 0;
    background-color: #0444FD;
}

h1{
    color: #FD5972;
    text-shadow: 0px 6px rgba(0,0,0,0.2);
    text-align: center;
    font-size: 10vw;
}
h2{
    color :white;
    text-shadow: 0px 4px rgba(0,0,0,0.2);
    text-align: center;
    
}
hr{
    border-color: #FD5972;
}
img{
    width: 120px;
    position: absolute;
    bottom: -17px;
    right:272px;
}

.body-container{
    background-color: red;
    position: relative;
    width: 200px;
    left: 200px;
    top:50px;

}
.note-list-body{
    position: absolute;
    bottom: -47px;
    left: -64px;
    overflow-wrap: normal;
    white-space: pre-wrap;
    word-wrap: break-word;
    hyphens: auto;
    height:100px;
}

.note-container{
    height: 100px;
    color:white;
    font-size: 16px;
    text-shadow: 0px 3px rgba(0,0,0,0.2);
}
.p-note-list{
    font-size: 14px;
    position: relative;
    bottom: 10px;
    left: 3px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: bold;
}

#h2-signed-in{
    width: 100%;
    position: absolute;
    top: 33%;
    overflow-wrap: normal;
    white-space: pre-wrap;
    word-wrap: break-word;
    hyphens: auto;
}

#h2-note-list{
    font-size: x-large;
}

#google-button{
    position: absolute;
    left: 50%;

}

#sign-in{

}

.sign-out{
    position: absolute;
    left: 38%;
    background-color: #FD5972;
    color: white;
    border: 2px  solid  #FD5972;
    width: 100px;
    height: 25px;
    border-radius: 25px;
}

#note-input{
    position: absolute;
    left: 17%;
    top: 36%;
}
#submit-button{
    background-color: transparent;
    color: white;
    border: 2px  solid  #FD5972;
    position: absolute;
    left: 27.5%;
    bottom: 12%;
    width: 45%;
    height: 15%;
    border-radius: 25px;
}
#submit-button:focus {
    outline: none;
}

#submit-button:hover {
    background-color: #FD5972;
    transition: 0.3s;
}



/*Default google sign-in button style below*/
.google-btn {
    width: 184px;
    height: 42px;
    background-color: #4285f4;
    border-radius: 2px;
    box-shadow: 0 3px 4px 0 rgba(0,0,0,.25);
    position: absolute;
    left: 25%;
    top: 55%;
}
.google-icon-wrapper {
    position: absolute;
    margin-top: 1px;
    margin-left: 1px;
    width: 40px;
    height: 40px;
    border-radius: 2px;
    background-color: white;
}
.google-icon {
    position: absolute;
    margin-top: 11px;
    margin-left: 11px;
    width: 18px;
    height: 18px;
}
.btn-text {
    float: right;
    margin: 11px 11px 0 0;
    color: white;
    font-size: 14px;
    letter-spacing: 0.2px;
    font-family: "Roboto";
}
.google-btn:hover {
    box-shadow: 0 0 6px #4285f4;
}
.google-btn:active {
    background: #1669F2;
}
@import url(https://fonts.googleapis.com/css?family=Roboto:500);
/*Default google sign-in button style above*/

